.archivados {
    padding: 20px;
    background-color: #d9f7d6;
    border-radius: 8px;
  }
  
  .archivados h1 {
    color: #4a4a4a;
  }
  
  .archivados p {
    font-size: 16px;
    color: #777;
  }
  