/* Estilos generales para la barra de navegación y las vistas */
.app-container {
  display: flex;
  height: 100vh; /* Ocupa toda la altura de la ventana */
  overflow: hidden; /* Asegura que no haya desplazamiento no deseado */
}

/* Para las vistas de usuario logueado */
.views-container {
  flex-grow: 1;
  margin-left: 250px; /* Deja espacio para la barra de navegación */
  padding: 20px;
  background-color: #f4f7fa;
  overflow-y: auto;
}

/* Clase exclusiva para las vistas de login y bienvenida */
.full-screen-container {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6f2f8; /* Fondo azul claro */
}

@media (max-width: 768px) {
  .app-container {
    flex-direction: column;
  }

  .views-container {
    margin-left: 0;
  }
}

